<%= form_for [:system, :settings, @role] do |f| %>

  <div class="form-group">
    <%= f.label :title %><br/>
    <%= f.text_field :title, autofocus: true, autocomplete: "first_name", :class => "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit btn_label, :class => "btn btn-success btn-flat m-b-30 m-t-30" %>
  </div>

<% end %>