<%- content_for :title do %>
  My profile
<% end %>
<%- content_for :right_bar do %>
  <div class="card">
    <div class="card-header">
      <strong class="card-title">My profile</strong>
    </div>
    <div class="card-body">
      <%= render 'shared/flash' unless flash.empty? %>
      <%= render 'system/profile/shared/form' %>
    </div>
  </div>
<% end %>