<%- content_for :title do %>
  Invite employee
<% end %>
<%- content_for :right_bar do %>
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Invite employee</strong>
    </div>
    <div class="card-body">
      <div class="card-body">
        <%= render 'shared/flash' unless flash.empty? %>
        <%= render 'system/employees/shared/invite_form' %>
      </div>
    </div>
  </div>
<% end %>