<h1>
  SimpleIssueTracker organization invite
</h1>
<p>
  You received this mail bcoz the organization "<%= @invite.organization.title %>" has invited you
</p>
<p>
  Please follow this link to accept invite: <a href="#">Accept</a>
</p>