<h1>
  SimpleIssueTracker organization invite
</h1>
<p>
  You received this mail bcoz the organization "<%= @invite.organization.title %>" has invited you
</p>
<p>
  Please follow this link to accept invite:
  <%= link_to accept_system_invites_url(token: @invite.token) do %>
    Accept
  <% end %>
</p>