<%- content_for :title do %>
  Choose an organization
<% end %>
<%- content_for :right_bar do %>
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Choose an organization</strong>
    </div>
    <div class="card-body">

    </div>
  </div>
<% end %>