<%- content_for :title do %>
  Create an organization
<% end %>
<%- content_for :right_bar do %>
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Create an organization</strong>
    </div>
    <div class="card-body">
      <%= render 'organizations/shared/form' %>
    </div>
  </div>
<% end %>