<% content_for :content do -%>
  <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

      <div class="navbar-header">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">SimpleIssueTracker</a>
        <a class="navbar-brand hidden" href="<%= root_path %>">SIT</a>
      </div>

      <div id="main-menu" class="main-menu collapse navbar-collapse">

      </div>
    </nav>
  </aside>


  <div id="right-panel" class="right-panel">
    <header id="header" class="header">
      <div class="header-menu">
        <div class="col-sm-7">
          <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
        </div>
      </div>
    </header>

    <div class="content mt-3">
      <%= yield %>
    </div>
  </div>
<%-end %>

<%= render file: 'layouts/base' %>